<ul>
    {{#each latest}}
        {{#if .}}
            <li><a href="{{href}}" title="{{name}}">{{name}}</a></li>
        {{/if}}
    {{/each}}
</ul>

{{#if others}}
    <hr/>
    
    {{#>heading tag='h2' level=2}}
        Others
    {{/heading}}
    
    <ul>
        {{#each others}}
            <li><a href="{{href}}" title="{{name}}">{{name}}</a></li>
        {{/each}}
    </ul>
{{/if}}
